.u-section-1 .u-sheet-1 {
  min-height: 175px;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: -62px 57px 17px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1084px;
}

.u-section-2 .u-image-1 {
  width: 572px;
  height: 452px;
  margin: 60px 265px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 433px;
  height: 526px;
  margin: 16px 326px 30px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1083px;
  }

  .u-section-2 .u-image-2 {
    height: 525px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: 148px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 427px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 269px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 412px;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 192px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0;
}