.u-section-1 .u-sheet-1 {
  min-height: 334px;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 18px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 65px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 30px auto 60px;
}.u-section-3 .u-sheet-1 {
  min-height: 410px;
}

.u-section-3 .u-image-1 {
  width: 415px;
  height: 360px;
  margin: 13px 340px 37px auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-right: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-right: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 295px;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1466px;
}

.u-section-4 .u-video-1 {
  width: 748px;
  height: 421px;
  margin: 17px auto;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-video-2 {
  width: 750px;
  height: 422px;
  margin: 17px auto;
}

.u-section-4 .u-video-3 {
  width: 748px;
  height: 424px;
  margin: 17px auto;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    height: 405px;
    margin-right: 0;
  }

  .u-section-4 .u-video-2 {
    width: 720px;
    height: 405px;
    margin-right: 0;
  }

  .u-section-4 .u-video-3 {
    width: 720px;
    height: 408px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-4 .u-video-2 {
    width: 540px;
    height: 304px;
  }

  .u-section-4 .u-video-3 {
    width: 540px;
    height: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-4 .u-video-2 {
    width: 340px;
    height: 191px;
  }

  .u-section-4 .u-video-3 {
    width: 340px;
    height: 193px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 595px;
}

.u-section-5 .u-gallery-1 {
  height: 423px;
  margin-top: 17px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-5 .u-gallery-1 {
    height: 348px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1103px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-5 .u-gallery-1 {
    height: 832px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-5 .u-gallery-1 {
    height: 530px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 496px;
}

.u-section-6 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 17px auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-gallery-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 164px;
}

.u-section-7 .u-text-1 {
  margin: 20px 0;
}