.u-section-1 .u-sheet-1 {
  min-height: 121px;
}

.u-section-1 .u-group-1 {
  width: 1112px;
  min-height: 93px;
  margin: 14px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  margin: 33px 361px 0;
}

.u-section-1 .u-shape-1 {
  width: 76px;
  height: 53px;
  margin: -41px auto 0 -11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 275px;
    margin-left: 275px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -53px;
    margin-left: auto;
    margin-right: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 165px;
    margin-left: 165px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 95px;
    margin-left: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 672px;
}

.u-section-2 .u-btn-1 {
  margin: 20px auto 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 325px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 221px;
  height: 391px;
  margin: -15px auto 0;
}

.u-section-2 .u-text-1 {
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 224px;
  height: 398px;
  margin: -12px auto 0;
}

.u-section-2 .u-text-2 {
  margin-right: 106px;
  margin-left: 106px;
  margin-top: 20px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 434px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 240px;
  height: 419px;
  margin: -11px auto 0;
}

.u-section-2 .u-text-3 {
  margin-left: 118px;
  margin-right: 118px;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 338px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 47px;
    margin-left: 47px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 72px;
    margin-left: 72px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 358px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 85px;
    margin-right: 85px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 338px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 180px;
    height: 318px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 10px;
    margin-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    width: 180px;
    height: 320px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 35px;
    margin-left: 35px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    width: 180px;
    height: 314px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 421px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 308px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 307px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 194px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}