.u-section-1 .u-sheet-1 {
  min-height: 121px;
}

.u-section-1 .u-group-1 {
  width: 1112px;
  min-height: 93px;
  margin: 14px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  margin: 33px 361px 0;
}

.u-section-1 .u-shape-1 {
  width: 76px;
  height: 53px;
  margin: -41px auto 0 -11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 275px;
    margin-left: 275px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -53px;
    margin-left: auto;
    margin-right: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 165px;
    margin-left: 165px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 20px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 95px;
    margin-left: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 536px;
}

.u-section-2 .u-video-1 {
  width: 748px;
  height: 421px;
  margin: 41px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 570px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-video-1 {
    width: 456px;
    height: 257px;
    margin-top: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}