.u-section-1 .u-sheet-1 {
  min-height: 169px;
}

.u-section-1 .u-text-1 {
  margin: 25px 51px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 8px auto 12px;
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 155px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 27px auto 0;
  padding: 0;
}

.u-section-2 .u-gallery-1 {
  height: 484px;
  margin-top: 27px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 0px 0px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-2 .u-gallery-1 {
    height: 398px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1404px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1259px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-2 .u-gallery-1 {
    height: 949px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-2 .u-gallery-1 {
    height: 604px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 569px;
}

.u-section-3 .u-gallery-1 {
  height: 423px;
  margin-top: 70px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-3 .u-gallery-1 {
    height: 348px;
    margin-top: 235px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1103px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2204px;
  }

  .u-section-3 .u-gallery-1 {
    height: 832px;
    margin-top: 216px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1508px;
  }

  .u-section-3 .u-gallery-1 {
    height: 530px;
    margin-top: 210px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 930px;
}

.u-section-4 .u-video-1 {
  width: 793px;
  height: 446px;
  margin: 34px auto 0 138px;
}

.u-section-4 .u-image-1 {
  width: 664px;
  height: 377px;
  margin: 14px auto 60px 175px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-4 .u-video-1 {
    width: 720px;
    height: 405px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-left: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-4 .u-video-1 {
    width: 540px;
    height: 304px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 307px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-4 .u-video-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 193px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 164px;
}

.u-section-5 .u-text-1 {
  margin: 20px 0;
}